.container{
           
    padding: 10%;
    border: 1px solid black;

 }
 .title{

     padding-bottom:5%;

     display: flex;
     justify-content: center;
     flex-wrap: center;

 }

 .title > h1{

     font-size:80px;

 }
 
 .form-time form label{
     font-size:50px;
 }
 input[type="number"] {
     height:30px;
     border-radius: 20px;
 }
 button{

     margin:30px;

     background-color: #59B87E;
     font-size: 30px;
     color: #ffff;

     height:60px;
     width:120px;
 }
 #cancel{
     margin:30px;

     background-color: #d82828;
     font-size: 20px;
     color: #ffff;

     height:60px;
     width:120px;
     }
 .countdown{
     display: flex;
     justify-content: center;
     flex-wrap: center;
 }
 #countdown > h1{
     font-size: 10vh;
     font-family: clockicons,sans-serif;
 }
 .center{
     display: flex;
     justify-content: space-around;
     flex-wrap: center;
 }
 .above{
     padding-top:20%;
 }
 footer{
   display: flex;
   justify-content: center;
   align-items: center;
 }